{% extends 'base.html' %}

{% load i18n %}
{% block content %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container wrapper flex-grow-1">
      


      <h1 class="my-4">
        
{% trans 'Users' %}

      </h1>
      
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% trans 'Username' %}</th>
      <th>{% trans 'Full name' %}</th>
      <th>{% trans 'Date of creation' %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
        <td>{{ object.id }}</td>
        <td>{{ object.username }}</td>
        <td>{{ object.first_name }} {{ object.last_name }}</td>
        <td>{{ object.date_joined }}</td>
        <td>
          <a href="{% url 'users_update' object.id %}">Изменить</a>
          <br>
          <a href="{% url 'users_delete' object.id %}" rel="nofollow">Удалить</a>
        </td>
    {% endfor %}
    </tr>
</table>
  </tbody>
    </div>
  </div>

</main>

{% endblock %}
