{% extends 'base.html' %}

{% load i18n %}
{% block content %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">{% trans 'Hello from Hexlet!' %}</h1>
      <p>{% trans 'Practical programming courses' %}</p>
      <hr>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">{% trans 'Learn more' %} &raquo;</a></p>
    </div>
  </div>

</main>

{% endblock %}
